// /backend/jobs.config
{
	"jobs": [ // Define up to 20 different jobs
		// Choose one of the options below to define the job execution interval:
		{
			// Option 1 - define execution interval using a cron expression
			"functionLocation": "/sendEmail.jsw", // Relatively to Backend folder, started by slash
			"functionName": "sendDailyEmail",
			"description": "send daily email", // Optional
			"executionConfig": {
				"cronExpression": "36 10 * * *" // run daily at midnigth 
				// Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
			}
		}
	]
}